.lanav{
    background-color: black;
    font-family: 'Lato', sans-serif;
}
.logo{
    font-size: xx-large;
    text-align: center;
    vertical-align: middle;
}
.form{ 
    border-color: black;
    background-color: lightgray;
    border-style: solid;
    border-width: 3px;
}
.but{
    background-color: white;
    color: black;
    border-radius: 30px;
    cursor: pointer;
    border-color: black;
    text-decoration: none;
    width: 200px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
    padding-bottom: 5px;
    margin-left: 11%;
}
.but:hover{
    background-color: black;
    color: white;
    border: 2px solid #FFFFFF;
}
.but:disabled{
    cursor: not-allowed;
    pointer-events: none;
    color: #404040;
    background-color: #999999;
}

.but2{
    background-color: black;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    border-color: black;
    text-decoration: none;
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
    padding-bottom: 5px;
    font-family: 'Lato', sans-serif;
}
.but2:hover{
    background-color: white;
    color: black;
    border: 2px solid #000000;
}
.ini{
    z-index: 1;
}
.bajav{
    z-index: 2;
}
.botbef{
    z-index: 2;
}
.botnext{
    z-index: 2;
}
.men{
    color: black;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.btnmenu{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
.cuadradonegro{
    background-color: black;
    border-radius: 30px;
    width: 90%;
    height: 35%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}
.IS{
    color: white; 
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}
.input-field input[type=text]:focus + label {
    color: white !important;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}
.input-field input[type=email]:focus + label {
    color: white !important;
}
.input-field input[type=email]:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}
.input-field input[type=password]:focus + label {
    color: white !important;
}
.input-field input[type=password]:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}
.input-field textarea:focus {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
}
.art{
    background-color: transparent;
    border: 5px solid #000000;
    border-radius: 30px;
    padding-top: 1%;
    margin: 5%;
    font-family: 'Lato', sans-serif;
    padding-bottom: 15px;
}
.usuarios{
    background-color: black;
    color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    margin-left: 4%;
    margin-top: 2%;
    cursor: default;
    justify-content:center;
    display: flex;
    align-items: center;
}
.titulosart{
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 1px;
}
.textoart{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    margin-top: 1px;
}
.coment{
    background-color: black;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    border-color: black;
    font-size: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2px;
    margin-top: 11%;
}
.forminp{
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}
.usuarioscoments{
    background-color: black;
    color: white;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    text-align: center;
    font-size: 17px;
    cursor: default;
    justify-content:center;
    display: flex;
    align-items: center;
}
.numerolikes{
    margin-left: 110%;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
}
